// Color Scheme
//Primer bloque de colores
$white: #FFF;
$platinum: #E6E7E7;
$lightgray: #D1D1D1;

// Segundo bloque de colores
$fuzzy-wuzzy: #E56353;
$rudy-pink: #D76C69;
$spanish-pink: #ECBCBA;

//tercer bloque de colores
$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6C6E70;

//tipos de fuentes
$playfair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;

  //grosor de las letras
  $light: 300;
  $regular: 400;
  $bold: 900i;

  //tamaño de las letras

  $xx-large: 70px;
  $x-large: 30px;
  $large: 18px;
  $medium: 16px;
  $small: 12px;
